{% extends 'base.html' %}
{% load staticfiles%}

{% block title %}机构首页 - 慕学网{% endblock title %}

{% block custom_css %}
{% endblock custom_css %}

{% block custom_js %}
    <script type="text/javascript">
    //收藏分享
    function add_fav(current_elem, fav_id, fav_type){
        $.ajax({
            cache: false,
            type: "POST",
            url:"{% url 'org:add_fav' %}",
            data:{'fav_id':fav_id, 'fav_type':fav_type},
            async: true,
            beforeSend:function(xhr, settings){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
            },
            success: function(data) {
                if(data.status == 'fail'){
                    if(data.msg == '用户未登录'){
                        window.location.href="{% url 'login' %}";
                    }else{
                        alert(data.msg)
                    }

                }else if(data.status == 'success'){
                    current_elem.text(data.msg)
                }
            },
        });
    }

    $(document).ready(function() {
        $('.collectionbtn').on('click', function(){
            add_fav($(this), {{ course_org.id }}, 2);
        });
    });
    </script>
{% endblock custom_js %}

{% block custom_middle %}
    <div class="middle companyheader">
        <div class="wp" style="margin-top: 20px">
            <img class="fl" style="width: 112px;height: 103px" src="{{ MEDIA_URL }}{{ course_org.image }}"/>
            <div class="head fl">
                <h1>
                    {{ course_org.name }}
                    <img src="{% static 'images/authentication.png' %}"/>
                    <img src="{% static 'images/gold.png' %}"/>
                </h1>
                <p class="fl">
                    <span class="fl" style="margin-top:8px;color:#848484;">推荐指数： </span>
                    <span class="precision company-credit" data-star-scope="5.0"></span>
                    <span class="key">5.0</span>
                </p>
            </div>
            <div class="btn fr collectionbtn  notlogin
                 "data-fav-id="{{ course_org.id }}" data-fav-type="2">
                 {% if has_fav %}已收藏{% else %}收藏{% endif %}
            </div>
        </div>
    </div>
{% endblock custom_middle %}

{% block custom_bread %}
<section>
	<div class="wp">
		<ul  class="crumbs">
            <li><a href="{% url 'index' %}">首页</a>></li>
			<li><a href="{% url 'org:org_list' %}">课程机构</a>></li>
			<li>{% block page_path %}机构首页{% endblock page_path %}</li>
		</ul>
	</div>
</section>
{% endblock custom_bread %}

{% block content %}
<section>
	<div class="wp list personal_list comp">
		<div class="left">
			<ul>
				<li class={% ifequal current_page 'home' %}"active2"{% endifequal %}><a href="{% url 'org:org_home' course_org.id %}">机构首页</a></li>
                <li class={% ifequal current_page 'course' %}"active2"{% endifequal %}><a href="{% url 'org:org_course' course_org.id %}">机构课程</a></li>
                <li class={% ifequal current_page 'desc' %}"active2"{% endifequal %}><a href="{% url 'org:org_desc' course_org.id %}">机构介绍</a></li>
                <li class={% ifequal current_page 'teacher' %}"active2"{% endifequal %}><a href="{% url 'org:org_teacher' course_org.id %}">机构讲师</a></li>
			</ul>
		</div>

        {% block right_form %}
        {% endblock right_form %}

</section>
{% endblock content %}

{% block footer %}
{% endblock footer %}